
<form  (ngSubmit)="onSearch()" >
<div class="col-sm-5 inline">
    <label  class="sr-only">Search by title </label>
    <input type="text" class="form-control"  placeholder="Title" name="englishTitle" [(ngModel)]="englishTitle">
     <button type="submit" class="col btn btn-primary">Search</button>
</div>

</form>

<hr>
<div>
The list of Mangas are:<br/>

<ul>
    <li *ngFor="let manga of mangas">
        <a routerLink="/manga/{{manga._id}}">{{manga.titles.english}} ({{manga.published}})</a>
    </li>
</ul>

<p><button class="btn" (click) = 'onPrev()'>Previous</button>
{{page}}
<button class="btn" (click) = 'onNext()'>Next</button>
</p>
<button *ngIf="authService.isLoggedIn" class="btn btn-info" routerLink="add">Add manga</button>
</div>