<h4>{{winner.firstname}} {{winner.surname}}</h4> <br>
born : {{winner.born}} <br>
died : {{winner.died}} <br>
bornCountry : {{winner.bornCountry}} <br>
bornCountryCode : {{winner.bornCountryCode}} <br>
bornCity : {{winner.bornCity}} <br>
diedCountry : {{winner.diedCountry}} <br>
diedCountryCode : {{winner.diedCountryCode}} <br>
diedCity : {{winner.diedCity}} <br>
gender : {{winner.gender}} <br>
year : {{winner.year}} <br>
category : {{winner.category}} <br>
motivation : {{winner.motivation}} <br>
affiliation : {{winner.affiliation}} <br>

<button (click) = 'deleteWinner()'>Delete</button>
