<form [formGroup]="addMangaForm" (ngSubmit)="onAdd()">

{{env.text_title_eng}} <input formControlName="englishTitle" type="text"><br> 
{{env.text_title_jpn}}  <input formControlName="japaneseTitle" type="text"><br> 
{{env.text_published}}  <input formControlName="published" type="text"><br> 
{{env.text_status}}  <input formControlName="status" type="text"><br> 
{{env.text_genre}}  <input formControlName="genres" type="text"><br> 

    <button  class="btn btn-primary">{{env.text_add}}</button>
</form>