<h1>Student Detailed Info</h1>
_id : {{student._id}} <br>
LastName : {{student.LastName}} <br> 
FirstName : {{student.FirstName}} <br>
City : {{student.City}} <br> 
State : {{student.State}} <br> 
Gender : {{student.Gender}} <br> 
StudentStatus : {{student.StudentStatus}} <br>
Major : {{student.Major}} <br> 
Country : {{student.Country}} <br> 
Age : {{student.Age}} <br> 
SAT : {{student.SAT}} <br> 
Grade : {{student.Grade}} <br> 
Height : {{student.Height}} <br> 


<button (click)="onDelete()">Delete</button>
